// ----- contact -----

.contact {
	padding-block: toRem(40);

	// .contact__row
	&__row {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);

		@media (max-width: toEm(767.98)) {
			flex-direction: column;
			row-gap: toRem(60);
		}
	}

	// .contact__left
	&__left {
		flex-basis: 35%;
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		@media (max-width: toEm(991.98)) {
			flex-basis: 100%;
		}
	}

	// .contact__title
	&__title {
		@include title;
	}

	// .contact__address
	&__address {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
	}

	// .contact__address-link
	&__address-link {
		display: flex;
		align-items: center;
		gap: toRem(15);
		transition: color 0.5s;

		i {
			color: $pinkColor;
			@include fs(md);
			transition:
				transform 0.5s,
				color 0.5s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $pinkColor;
			}

			&:hover i {
				color: $pinkColor;
				transform: translateY(toRem(-2));
			}
		}
	}

	// .contact__social
	&__social {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: toRem(20);
	}

	// .contact__social-col
	&__social-col {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
	}

	// .contact__social-link
	&__social-link {
		display: flex;
		align-items: center;
		gap: toRem(8);

		transition: color 0.5s;

		i {
			font-size: toRem(30);
			color: $greyColor;
			transition:
				transform 0.5s,
				color 0.5s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $pinkColor;
			}

			&:hover i {
				color: $pinkColor;
				transform: translateY(toRem(-2));
			}
		}
	}

	&__social-button {
		@media (max-width: toEm(424.98)) {
			grid-column: 1 / -1;
			width: 100%;
		}
	}

	// .contact__right
	&__right {
		flex-basis: 50%;

		@media (max-width: toEm(991.98)) {
			flex-basis: 100%;
		}
	}

	// .contact__form
	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(15);

		@media (max-width: toEm(991.98)) {
			max-width: toRem(450);
			// margin-: auto;
		}
	}

	// .contact__form-input, .contact__form-textarea
	&__form-input,
	&__form-textarea {
		background-color: $bgGreyColor;
		color: $lightColor;

		outline: none;
		border: toRem(1) solid transparent;
		transition: border-color 0.3s;

		&:focus {
			border-color: $pinkColor;
		}

		padding: toRem(15);
		border-radius: toRem(6);
		@include fs(lg);
	}

	// .contact__form-button
	&__form-button {
		padding: toRem(14) toRem(60);
		@include fs(lg);
	}

	// .contact__form-status
	&__form-status {
		margin-top: toRem(15);
		font-size: toRem(16);
		// opacity: 0;
		color: $greyColor;
		// transition: opacity 0.3s ease;

		&.loading {
			color: $pinkColor;
		}
	}
}
