.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	z-index: 400;
	transition:
		visibility 0.3s ease,
		opacity 0.3s ease;

	&--active {
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
	}

	&--popup {
		background: rgba(0, 0, 0, 0.2);
		pointer-events: none;
	}
}
