// ----- services -----

.services {
	padding: toRem(20) 0;

	// .services__container
	&__container {
	}

	// .services__title
	&__title {
		@include title;
	}

	// .services__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
		gap: toRem(40);
	}

	// .services__item
	&__item {
		display: flex;
	}

	&__item-link {
		background-color: $bgGreyColor;
		color: $lightColor;
		font-size: toRem(13);
		font-weight: 300;
		padding: toRem(40);
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		border-radius: toRem(10);
		transition:
			background-color 0.5s,
			transform 0.5s;

		i {
			@include fs(hero);
			margin-bottom: toRem(20);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $pinkColor;
				transform: translateY(toRem(-10));
			}

			&:hover .services__link {
				color: $lightColor;
			}
		}
	}

	// .services__sub-title
	&__sub-title {
		@include fs(xxl);
		font-weight: 500;
		flex-grow: 1;

	}

	// .services__text
	&__text {
		@include fs(md);
		flex-grow: 1;
		p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		
	}

	// .services__link
	&__link {
		// color: $pinkColor;
		@include fs(sm);
		font-weight: 600;
	}
}
