@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700&display=swap");

@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_base.scss";
@import "_lang-switcher.scss";
@import "_button.scss";
@import "_overlay.scss";
@import "_to-top.scss";



@import "_background.scss";
@import "_header.scss";

@import "_hero.scss";
@import "_services.scss";
@import "_portfolio.scss";
@import "_footer.scss";
@import "_contact.scss";
@import "_about.scss";

@import "_burger.scss";
@import "_popup.scss";

